# Analyse des données : Arbres publics Longueuil

In [10]:
%matplotlib inline 
import pandas as pd 
import numpy as np 
import matplotlib as mp

In [2]:
pd.set_option("display.float_format", lambda x : "%.2f" % x)

In [34]:
a = pd.read_csv("arbreslongueil.csv",sep=";")

Apperçu des données (en général)

In [35]:
a

,Type,Geometry_type,Geometry_coordinates_0,Geometry_coordinates_1,Espece_nom_latin,Espece_nom_français,Diametre_tronc
0,Feature,Point,-73.50,45.53,Celtis occidentalis,Micocoulier occidental,11.80
1,Feature,Point,-73.50,45.52,Acer rubrum,Érable rouge,39.60
2,Feature,Point,-73.51,45.52,Fraxinus sp.,Frêne sp.,30.00
3,Feature,Point,-73.50,45.51,Gymnocladus dioicus,Chicot du canada,4.70
4,Feature,Point,-73.50,45.51,Acer sp.,Érable sp.,29.50
5,Feature,Point,-73.50,45.52,Acer saccharinum,Érable argenté,29.20
6,Feature,Point,-73.51,45.52,Fraxinus sp.,Frêne sp.,17.00
7,Feature,Point,-73.51,45.52,Acer rubrum,Érable rouge,7.00
8,Feature,Point,-73.51,45.52,Fraxinus sp.,Frêne sp.,34.00
9,Feature,Point,-73.51,45.52,Fraxinus sp.,Frêne sp.,17.80
10,Feature,Point,-73.51,45.51,Syringa reticulata ‘ivory silk’,Lilas japona,6.80
11,Feature,Point,-73.51,45.52,Malus sp.,Pommetier sp.,10.20
12,Feature,Point,-73.50,45.52,Ginkgo biloba,Arbre aux quarante écus,17.00
13,Feature,Point,-73.50,45.52,Acer sp.,Érable sp.,8.40
14,Feature,Point,-73.51,45.52,Malus sp.,Pommetier sp.,25.20
15,Feature,Point,-73.51,45.52,Malus sp.,Pommetier sp.,18.30
16,Feature,Point,-73.51,45.53,Malus sp.,Pommetier sp.,22.50
17,Feature,Point,-73.51,45.53,Quercus sp.,Chêne sp.,42.10
18,Feature,Point,-73.51,45.53,Acer platanoides ‘emerald queen’,Érable de n,4.00
19,Feature,Point,-73.51,45.53,Pinus sp.,Pin sp.,36.70
20,Feature,Point,-73.50,45.54,Picea sp.,Épinette sp.,24.00
21,Feature,Point,-73.50,45.54,Gleditsia triacanthos var. inermis,Févier d',43.80
22,Feature,Point,-73.50,45.54,Celtis occidentalis,Micocoulier occidental,6.00
23,Feature,Point,-73.50,45.54,Tilia sp.,Tilleul sp.,9.80
24,Feature,Point,-73.51,45.54,Tilia sp.,Tilleul sp.,22.30
25,Feature,Point,-73.50,45.54,Populus deltoides,Peuplier deltoide,32.00
26,Feature,Point,-73.50,45.54,Acer negundo,Érable à giguère,59.06
27,Feature,Point,-73.50,45.54,Picea sp.,Épinette sp.,37.60
28,Feature,Point,-73.50,45.54,Acer platanoides,Érable de norvège,40.30
29,Feature,Point,-73.50,45.54,Malus sp.,Pommetier sp.,7.50
...,...,...,...,...,...,...,...
38334,Feature,Point,-73.44,45.52,Fraxinus sp.,Frêne sp.,33.00
38335,Feature,Point,-73.45,45.50,Populus sp.,Peuplier sp.,35.00
38336,Feature,Point,-73.43,45.52,Acer saccharinum,Érable argenté,75.00
38337,Feature,Point,-73.40,45.50,Syringa reticulata ‘ivory silk’,Lilas japona,20.00
38338,Feature,Point,-73.39,45.51,Celtis occidentalis,Micocoulier occidental,6.00
38339,Feature,Point,-73.40,45.47,Amelanchier canadensis,Amélanchier du canada,0.00
38340,Feature,Point,-73.41,45.46,Betula sp.,Bouleau sp.,25.00
38341,Feature,Point,-73.42,45.47,Tilia sp.,Tilleul sp.,30.00
38342,Feature,Point,-73.41,45.47,Syringa reticulata ‘ivory silk’,Lilas japona,12.00
38343,Feature,Point,-73.42,45.47,Thuja occidentalis,Thuya occidental,0.00
38344,Feature,Point,-73.41,45.50,Acer saccharinum,Érable argenté,72.00
38345,Feature,Point,-73.48,45.49,Malus sp.,Pommetier sp.,15.00
38346,Feature,Point,-73.49,45.54,Fraxinus sp.,Frêne sp.,24.00
38347,Feature,Point,-73.48,45.55,Acer rubrum,Érable rouge,39.50
38348,Feature,Point,-73.46,45.55,Fraxinus sp.,Frêne sp.,nan
38349,Feature,Point,-73.43,45.52,Acer saccharinum,Érable argenté,110.00
38350,Feature,Point,-73.47,45.54,Ginkgo biloba,Arbre aux quarante écus,5.00
38351,Feature,Point,-73.43,45.52,Fraxinus sp.,Frêne sp.,54.50
38352,Feature,Point,-73.47,45.52,Ulmus hollandica 'pioneer',Orme 'pionneer',5.00
38353,Feature,Point,-73.43,45.48,Acer platanoides,Érable de norvège,45.00
38354,Feature,Point,-73.51,45.54,Acer saccharinum,Érable argenté,67.00
38355,Feature,Point,-73.48,45.48,Acer platanoides,Érable de norvège,27.00
38356,Feature,Point,-73.53,45.53,Populus nigra,Peuplier de lombardie,86.00
38357,Feature,Point,-73.45,45.49,Ulmus pumila,Orme de sibérie,1.00
38358,Feature,Point,-73.47,45.48,Tilia sp.,Tilleul sp.,nan
38359,Feature,Point,-73.44,45.50,Acer saccharinum,Érable argenté,nan
38360,Feature,Point,-73.38,45.46,Fraxinus sp.,Frêne sp.,nan
38361,Feature,Point,-73.41,45.47,Fraxinus sp.,Frêne sp.,nan
38362,Feature,Point,-73.42,45.49,Populus deltoides,Peuplier deltoide,nan
38363,Feature,Point,-73.42,45.47,Picea sp.,Épinette sp.,nan

In [36]:
a.shape

(38364, 7)

In [37]:
a.head()

,Type,Geometry_type,Geometry_coordinates_0,Geometry_coordinates_1,Espece_nom_latin,Espece_nom_français,Diametre_tronc
0,Feature,Point,-73.50,45.53,Celtis occidentalis,Micocoulier occidental,11.80
1,Feature,Point,-73.50,45.52,Acer rubrum,Érable rouge,39.60
2,Feature,Point,-73.51,45.52,Fraxinus sp.,Frêne sp.,30.00
3,Feature,Point,-73.50,45.51,Gymnocladus dioicus,Chicot du canada,4.70
4,Feature,Point,-73.50,45.51,Acer sp.,Érable sp.,29.50

In [38]:
a.tail()

,Type,Geometry_type,Geometry_coordinates_0,Geometry_coordinates_1,Espece_nom_latin,Espece_nom_français,Diametre_tronc
38359,Feature,Point,-73.44,45.50,Acer saccharinum,Érable argenté,nan
38360,Feature,Point,-73.38,45.46,Fraxinus sp.,Frêne sp.,nan
38361,Feature,Point,-73.41,45.47,Fraxinus sp.,Frêne sp.,nan
38362,Feature,Point,-73.42,45.49,Populus deltoides,Peuplier deltoide,nan
38363,Feature,Point,-73.42,45.47,Picea sp.,Épinette sp.,nan

Liste des colonnes:

In [39]:
a.columns

Index(['Type', 'Geometry_type', 'Geometry_coordinates_0',
       'Geometry_coordinates_1', 'Espece_nom_latin', 'Espece_nom_français',
       'Diametre_tronc'],
      dtype='object')

Répartition des arbres publics en fonction des espèces

In [40]:
a.Espece_nom_français.value_counts()

 Frêne sp.                     9102
 Érable de norvège             3189
 Érable argenté                2688
 Érable sp.                    1994
 Épinette sp.                  1757
 Févier d'                     1419
 Épinette du colorado          1393
 Tilleul sp.                   1239
 Micocoulier occidental        1035
 Pommetier sp.                  979
 Orme sp.                       927
 Érable rouge                   881
 Lilas japona                   874
 Chêne sp.                      806
 Peuplier deltoide              705
 Pin sp.                        612
 Cerisier de virginie           610
 Orme de sibérie                483
 Bouleau gris                   475
 Peuplier sp.                   300
 Érable à giguère               298
 Érable de l'amur               290
 Tilleul à petites feuilles     255
 Cerisier de vir                254
 Amélanchier du canada          252
 Févier sp.                     242
 Tilleul d'amérique             240
 Frêne                          222
 Chicot du canada               201
 Orme d'amérique                200
                               ...
 Charme de caroline               6
 Sorbier sp.                      5
 Chêne pédonculé                  5
 Catalpa                          4
 Érable de norvèg                 4
 Ostryer de virginie              4
 Tulipier de virginie             3
 Sumac vinaigrier                 3
 Noyer noir                       3
 Murier blanc pleureur            3
 Aubépine 'toba'                  2
 Magnolia sp.                     2
 Tilleul argenté                  2
 Peuplier de lombardie            2
 Cerisier tardif                  2
 Hètre à grandes feuilles         2
 Tilleul à petites                2
 Pruche du canada                 1
 Faux                             1
 Pommetier de sibé                1
 Érable de fr                     1
 Poirier                          1
 Frêne noir                       1
 Robinier                         1
 Frêne d'amérique                 1
 Orme parasol                     1
 Épinette noire                   1
 Caraganier de sibérie s          1
 Bouleau européen '               1
 Arbre de katsura                 1
Name: Espece_nom_français, dtype: int64

Pourcentage de la répartition des arbres en fonction des espèces :

In [41]:
a.Espece_nom_français.value_counts()/ len(a.Espece_nom_français)*100

 Frêne sp.                    23.73
 Érable de norvège             8.31
 Érable argenté                7.01
 Érable sp.                    5.20
 Épinette sp.                  4.58
 Févier d'                     3.70
 Épinette du colorado          3.63
 Tilleul sp.                   3.23
 Micocoulier occidental        2.70
 Pommetier sp.                 2.55
 Orme sp.                      2.42
 Érable rouge                  2.30
 Lilas japona                  2.28
 Chêne sp.                     2.10
 Peuplier deltoide             1.84
 Pin sp.                       1.60
 Cerisier de virginie          1.59
 Orme de sibérie               1.26
 Bouleau gris                  1.24
 Peuplier sp.                  0.78
 Érable à giguère              0.78
 Érable de l'amur              0.76
 Tilleul à petites feuilles    0.66
 Cerisier de vir               0.66
 Amélanchier du canada         0.66
 Févier sp.                    0.63
 Tilleul d'amérique            0.63
 Frêne                         0.58
 Chicot du canada              0.52
 Orme d'amérique               0.52
                               ...
 Charme de caroline            0.02
 Sorbier sp.                   0.01
 Chêne pédonculé               0.01
 Catalpa                       0.01
 Érable de norvèg              0.01
 Ostryer de virginie           0.01
 Tulipier de virginie          0.01
 Sumac vinaigrier              0.01
 Noyer noir                    0.01
 Murier blanc pleureur         0.01
 Aubépine 'toba'               0.01
 Magnolia sp.                  0.01
 Tilleul argenté               0.01
 Peuplier de lombardie         0.01
 Cerisier tardif               0.01
 Hètre à grandes feuilles      0.01
 Tilleul à petites             0.01
 Pruche du canada              0.00
 Faux                          0.00
 Pommetier de sibé             0.00
 Érable de fr                  0.00
 Poirier                       0.00
 Frêne noir                    0.00
 Robinier                      0.00
 Frêne d'amérique              0.00
 Orme parasol                  0.00
 Épinette noire                0.00
 Caraganier de sibérie s       0.00
 Bouleau européen '            0.00
 Arbre de katsura              0.00
Name: Espece_nom_français, dtype: float64

Combien y a-t-il d'espèces d'arbres différentes ?

In [135]:
a.Espece_nom_français.nunique()

106

Création d'une variable «Frêne» (sous-section)

In [156]:
frene = a.Espece_nom_français.str.contains("Frêne")

Combien y a-t-il de frênes parmi les arbres publics de Longueuil ?

PROBLÈME: Lorsque je demande à Pandas d'afficher uniquement les espèces qui contiennent le nom «Frêne» et de dénombrer chacune de ces espèces, Pandas affiche l'erreur suivante : ValueError: cannot index with vector containing NA / NaN values (voir plus bas). 

J'ai essayé diverses tentatives pour tenter de résoudre le problème, mais toujours sans succès. 

J'ai donc opté pour faire cette opération dans EXCEL. 

1) J'ai utilisé la fonction NB.SI, afin de dénombrer le nombre de frênes dans la colonne «Espece_nom_français». 

2) Voici la formule utilisé :       =NB.SI(F:F;"*Frêne*")
J'ai entouré le mot Frêne de deux *, afin que la recherche prenne en considération l'ensemble des possibilités.

3) Résultat : un total de 9 326 frênes

In [157]:
a[frene] = a.Espece_nom_français.value_counts()

ValueError: cannot index with vector containing NA / NaN values

Combien y-a-t-il d'érables à Longueuil?

In [116]:
erable = a.Espece_nom_français.str.contains("érable")

PROBLÈME : La même erreur survient...

J'ai donc opté pour faire cette opération dans EXCEL. 

1) J'ai utilisé la fonction NB.SI, afin de dénombrer le nombre de frêne dans la colone «Espece_nom_français». 

2) Voici la formule utilisé :       =NB.SI(F:F;"*Érable*") J'ai entouré le mot Frêne de deux *, afin que la recherche prenne en considération l'ensemble des possibilités.

3) Résultat : un total de 9 749 érables

In [158]:
a[erable].Espece_nom_français.value_counts()

ValueError: cannot index with vector containing NA / NaN values